{% extends 'base.html.twig' %}

{% block title %}Gestion des espaces {% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Gestion des espaces</h1>
        <table class="table table-striped">
            <tr>
                <th>Nom de l'espace</th>
                <th>Superficie en m²</th>
                <th>Date d'ouverture</th>
                <th>Date de fermeture</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            {% for e in espaces %}
                <tr>
                    <td>{{ e.nom }}</td>
                    <td>{{ e.superficie }}</td>
                    <td>{% if e.dateOuverture %}
                            {{ e.dateOuverture.format('d/m/Y') }}
                            {% else %}
                            Aucune date
                        {% endif %}
                        </td>
                    <td>{% if e.dateFermeture %}
                            {{ e.dateFermeture.format('d/m/Y') }}
                        {% else %}
                            Aucune date
                        {% endif %}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path("espaces_modifier", {"id":e.id}) }}">modifier</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" href="{{ path("espaces_supprimer", {"id":e.id}) }}">supprimer</a>
                    </td>
                    <td>
                        <a class="btn btn-success" href="{{ path("voir_enclos", {"id":e.id}) }}">voir les enclos</a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <h2>Ajouter un espace</h2>
        {{ form(formulaire) }}


    </div>
{% endblock %}
