{% extends 'base.html.twig' %}

{% block title %}Gestion des animaux {% endblock %}

{% block body %}

        <h1>Gestion des animaux de l'enclos {{ enclos.nom }}</h1>
        <table class="table table-striped">
            <tr>
                <th>Numero d'identification</th>
                <th>Nom</th>
                <th>Date de naissance</th>
                <th>Date d'arrivé au zoo</th>
                <th>Date de départ au zoo</th>
                <th>Le zoo est propriétaire</th>
                <th>Genre</th>
                <th>Espèce</th>
                <th>Stérile</th>
                <th>Quarentaine</th>
                <th></th>
                <th></th>

            </tr>
            {% for a in animaux %}
                <tr>
                    <td>{{ a.numeroIdentification }}</td>
                    <td>{{ a.nom }}</td>
                    <td>{% if a.dateNaissance %}
                            {{ a.dateNaissance.format('d/m/Y') }}
                        {% else %}
                            Aucune date
                        {% endif %}</td>
                    <td>{% if a.dateArrive %}
                            {{ a.dateArrive.format('d/m/Y') }}
                        {% else %}
                            Aucune date
                        {% endif %}</td>
                    <td>{% if a.dateDepart %}
                            {{ a.dateDepart.format('d/m/Y') }}
                        {% else %}
                            Aucune date
                        {% endif %}</td>
                    <td>{% if a.zooProprietaire == 1 %}
                            Oui
                        {% else %}
                            non
                        {% endif %}</td>
                    <td>{{ a.genre }}</td>
                    <td>{{ a.espece }}</td>
                    <td>{% if a.sterile == 1 %}
                            Oui
                        {% else %}
                            non
                        {% endif %}</td>
                    <td>{% if a.quarentaine == 1 %}
                            Oui
                        {% else %}
                            non
                        {% endif %}</td>
                    <td>
                         <a class="btn btn-primary" href="{{ path("animaux_modifier", {"id":a.id}) }}">modifier</a>
                    </td>
                    <td>
                         <a class="btn btn-danger" href="{{ path("animaux_supprimer", {"id":a.id}) }}">supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <h2>Ajouter un animal</h2>
        <a class="btn btn-primary" href="{{ path("animaux_ajouter") }}">Ajouter un animal</a>



{% endblock %}
